<div class='ui masthead vertical segment'>
    <div class='ui container'>
        <div class='ui introduction'>
            <h1 class='ui header popop' data-content='Click to edit exam'>
                    {{ exam.name }}
                <div class='ui sub header'>
                    {{ exam.year }}, {{ exam.degree }}
                </div>
            </h1>
        </div>
        <div class='ui three item stackable tabs menu'>
            <a class='active item'>Reports</a>
            <a class='item disabled'>Summary</a>
            <a class='item disabled'>Graphs</a>
        </div>
    </div>
</div>