{% load from_gradeitem %}
{% load make_rating_icon %}
{% load get_item_in_report %}

{% include 'ui_htmx/display_exam/menu.html' %}
{% include 'ui_htmx/display_exam/header.html' %}

<div class="ui main container" style="padding: 2em 0em">

    <form> <!-- this form is required for sortable-js inside the table -->
    <table class="ui exam reports very compact table">
        <thead>
            <tr>
                <td></td>

                {% for report in exam.report_set.all %}
                <td class="exam table header"
                    hx-get='{% url "edit-report" exam.id report.id %}' hx-target='#overlay' hx-swap="innerHTML">
                    {{ report.student_id }}
                </td>
                {% endfor %}

                <td class="exam table header"
                    hx-get='{% url "edit-report" exam.id 0 %}' hx-target='#overlay'>
                    <i class="plus square link icon"></i> New student...
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody class="exam reports sortablejs" hx-post="{% url 'reorder-items' exam.id %}" hx-trigger="end" hx-target='#htmx_body' hx-swap="innerHTML">
            {% for section in exam.section_set.all %}
            <tr class="exam reports sortabejs-item" data-id="">
                <input type='hidden' name='thing_type' value='section'>
                <input type='hidden' name='thing_id' value='{{ section.id }}'>
                <td class="six wide blue"
                    hx-get='{% url "edit-section" exam.id section.id %}' hx-target='#overlay' hx-swap="innerHTML">
                    <span class="exam section">{{ section.name }} <i class="small edit revealing icon"></i></span>
                </td>

                {% for report in exam.report_set.all %}
                <td class="collapsing blue"></td>
                {% endfor %}

                <td class="collapsing blue"></td>
                <td class="blue"></td>
            </tr>
            {% for item in section.gradeitem_set.all|dictsort:"position_in_section" %}
            <tr class="exam reports sortabejs-item">
                <input type='hidden' name='thing_type' value='item'>
                <input type='hidden' name='thing_id' value='{{ item.id }}'>
                <td hx-get='{% url "edit-item" exam.id section.id item.id %}' hx-target='#overlay'>
                    <span class="exam item desc">{{ item.desc }}</span>
                    <div class="ui small popup very wide">
                        <div class="header">
                            {{ item.desc }}
                        </div>
                        <div class="content">
                            <p><span style="width: 2em; display: inline-block; text-align: center;">{{ 2|make_rating_icon }}</span>{{ item.desc_2 }}</p>
                            <p><span style="width: 2em; display: inline-block; text-align: center;">{{ 1|make_rating_icon }}</span>{{ item.desc_1 }}</p>
                            <p><span style="width: 2em; display: inline-block; text-align: center;">{{ 0|make_rating_icon }}</span>{{ item.desc_0 }}</p>
                        </div>
                    </div>
                </td>

                {% for report in exam.report_set.all %}
                <td class="collapsing selectable" style="text-align: center;"
                        hx-post='{% url "grade-item" exam.id report.id item.id %}' hx-vals='{"score": "cycle"}' hx-target='this'>
                    {% with report.id|get_item_in_report:item.id as gir %}
                    {{ gir.score|make_rating_icon }}
                    {% endwith %}
                </td>
                {% endfor %}

                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            {% endfor %}
            <tr>
                <td class="six wide blue"
                    hx-get='{% url "edit-section" exam.id 0 %}' hx-target='#overlay' hx-swap="innerHTML">
                    <span class="exam section"><i class="plus square link icon"></i> New section...</span>
                </td>

                {% for report in exam.report_set.all %}
                <td class="collapsing blue"></td>
                {% endfor %}

                <td class="collapsing blue"></td>
                <td class="blue"></td>
            </tr>
            <tr>
                <td class="six wide"
                    hx-get='{% url "edit-item" exam.id exam.section_set.last.id 0 %}' hx-target='#overlay' hx-swap="innerHTML">
                    <span class="exam section"><i class="plus square link icon"></i> New item...</span>
                </td>

                {% for report in exam.report_set.all %}
                <td></td>
                {% endfor %}

                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<script>
    var resizePopup = function(){$('.ui.popup').css('max-height', $(window).height());};

    $(window).resize(function(e){
        resizePopup();
    });

    $('.exam.item.desc')
    .popup({
        inline: true,
        lastResort: 'bottom right',
        onShow: function(){
            resizePopup();
        },
    });

    htmx.onLoad(function(content) {
        var sortables = content.querySelectorAll(".exam.reports.sortablejs");
        for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                group: 'nested',
                animation: 150,
            });
        }
    })
</script>
