{% load from_gradeitem %}
{% load make_rating_icon %}
{% load get_item_in_report %}

{% include 'ui_htmx/display_exam/menu.html' %}
{% include 'ui_htmx/display_exam/header.html' %}

<div class="ui main container" style="padding: 2em 0em">

    <table class="ui exam reports very compact table">
        <thead>
            <tr>
                <td></td>

                {% for report in exam.report_set.all %}
                <td class="exam table header"
                    hx-get='{% url "edit-report" exam.id report.id %}' hx-target='#overlay' hx-swap="innerHTML">
                    {{ report.student_id }}
                </td>
                {% endfor %}

                <td class="exam table header"
                    hx-get='{% url "edit-report" exam.id 0 %}' hx-target='#overlay'>
                    <i class="plus square link icon"></i> New student...
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for section in exam.section_set.all %}
            <tr>
                <td class="six wide blue"
                    hx-get='{% url "edit-section" exam.id section.id %}' hx-target='#overlay' hx-swap="innerHTML">
                    <span class="exam section">{{ section.name }} <i class="small edit revealing icon"></i></span>
                </td>

                {% for report in exam.report_set.all %}
                <td class="collapsing blue"></td>
                {% endfor %}

                <td class="collapsing blue"></td>
                <td class="blue"></td>
            </tr>
            {% for item in section.gradeitem_set.all|dictsort:"position_in_section" %}
            <tr>
                <td class="">
                    {{ item.desc }}
                </td>

                {% for report in exam.report_set.all %}
                <td class="collapsing selectable" style="text-align: center;"
                        hx-post='{% url "grade-item" exam.id report.id item.id %}' hx-vals='{"score": "cycle"}'>
                    {% with report.id|get_item_in_report:item.id as gir %}
                    {{ gir.score|make_rating_icon }}
                    {% endwith %}
                </td>
                {% endfor %}

                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            {% endfor %}
            <tr>
                <td class="six wide blue"
                    hx-get='{% url "edit-section" exam.id 0 %}' hx-target='#overlay' hx-swap="innerHTML">
                    <span class="exam section"><i class="plus square link icon"></i> New section...</span>
                </td>

                {% for report in exam.report_set.all %}
                <td class="collapsing blue"></td>
                {% endfor %}

                <td class="collapsing blue"></td>
                <td class="blue"></td>
            </tr>
        </tbody>
    </table>
</div>
