<div class="header">Edit section</div>
<div class='content'>
    <div class='ui form edit_section_form'>
        <div class='field'>
            <label>Section name</label>
            <input type='text' name='section_name' value='{{ section.name }}'>
        </div>
    </div>
</div>
<div class='actions'>
    <button class='ui red basic button'
        hx-include='.edit_section_form' hx-delete='{% url "edit-section" exam_id section.id %}' hx-target='#htmx_body'>
        Delete
    </button>
    <button class='ui cancel button'>Cancel</button>
    <button class='ui positive right labeled icon button'
        hx-include='.edit_section_form' hx-post='{% url "edit-section" exam_id section.id %}' hx-target='#htmx_body'>
        Save<i class='checkmark icon'></i>
    </button>
</div>

<script>
    $('.ui.modal').modal('show');
</script>
