<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Grading table</title>
        <script src='https://unpkg.com/jquery@3.3.1/dist/jquery.js'></script>
        <script src='https://unpkg.com/htmx.org@1.2.1'></script>
        <script src='https://unpkg.com/fomantic-ui@2.8.8/dist/semantic.min.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js'></script>
        <link rel='stylesheet' type='text/css' href='https://unpkg.com/fomantic-ui@2.8.8/dist/semantic.min.css'>
        <link rel="stylesheet" type="text/css" href='/static/ui_htmx/style.css'>
        <link rel='icon' href='/static/favicon.ico'>
    </head>

    <body id='htmx_body'>
        {% extends 'ui_htmx/wrapper_in_body.html' %}
    </body>
    
</html>
