
<div class="pusher">
    <div id="" class="full height">{% block page %}{% endblock %}</div>
</div>

<div class="ui modal" id="overlay">{% block overlay %}{% endblock %}</div>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })

    htmx.onLoad(function(content) {
        var sortables = content.querySelectorAll(".sortablejs");
        for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                animation: 150,
                ghostClass: 'blue-background-class',
                dataIdAttr: 'data-id'
            });
        }
    })
</script>